---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smaxtec.com/api/v1/user/get_token?email=superkuh@hooli.xyz&password=pansen123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNTkwOWE3ZDg2ZGU0MDYxM2Q2ZTczN2NiIiwiZXhwIjoxNDk3Mzc3OTI0fQ.nmF_YHXrk6005X6s4_mP7LHXgbb9acSE-GVyFH76BC1afwiB0Op6N5J4qBIgefp1BHelPzFGM7kCZyHULNnXWA"}

'
  recorded_at: Mon, 12 Jun 2017 17:18:44 GMT
- request:
    method: get
    uri: https://api-staging.smaxtec.com/api/v1/data/query?aggregation=hourly.mean&animal_id=5722099ea80a5f54c631513d&from_date=1497284324&metric=temp&to_date=1497287924
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNTkwOWE3ZDg2ZGU0MDYxM2Q2ZTczN2NiIiwiZXhwIjoxNDk3Mzc3OTI0fQ.nmF_YHXrk6005X6s4_mP7LHXgbb9acSE-GVyFH76BC1afwiB0Op6N5J4qBIgefp1BHelPzFGM7kCZyHULNnXWA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metric": "temp.hourly.mean", "_id": "0800000510", "data": [[1497225600,
        37.133667], [1497229200, 38.106167], [1497232800, 38.924167], [1497236400,
        39.424], [1497240000, 39.509167], [1497243600, 39.680333], [1497247200, 39.826667],
        [1497250800, 38.086833], [1497254400, 35.629333], [1497258000, 38.278833],
        [1497261600, 38.893833], [1497265200, 39.173], [1497268800, 39.509667], [1497272400,
        39.816667], [1497276000, 36.224833], [1497279600, 38.1805], [1497283200, 38.363167],
        [1497286800, 36.928833], [1497290400, 38.264]], "unit": "degree_celsius"}

'
  recorded_at: Mon, 12 Jun 2017 17:18:44 GMT
recorded_with: VCR 3.0.3
