---
http_interactions:
- request:
    method: get
    uri: https://api.smaxtec.com/api/v1/user/get_token?email=superkuh@hooli.xyz&password=pansen123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNTkwOWE3ZDg2ZGU0MDYxM2Q2ZTczN2NiIiwiZXhwIjoxNDk5MzY3NDY1fQ.cWTj2A0xkww5VL6ptfiT0NRFk2OGrehpq9LlHAHVMihBaksPXfcnBT6wJhFs8ZwW5LfgyHNEwv68n-xDmlXBuQ"}

'
  recorded_at: Wed, 05 Jul 2017 17:57:45 GMT
- request:
    method: get
    uri: https://api.smaxtec.com/api/v1/data/query?animal_id=5722099ea80a5f54c631513d&from_date=1499234265&metric=temp&to_date=1499277465
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNTkwOWE3ZDg2ZGU0MDYxM2Q2ZTczN2NiIiwiZXhwIjoxNDk5MzY3NDY1fQ.cWTj2A0xkww5VL6ptfiT0NRFk2OGrehpq9LlHAHVMihBaksPXfcnBT6wJhFs8ZwW5LfgyHNEwv68n-xDmlXBuQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metric": "temp", "_id": "0800000510", "data": [[1499234400, 39.64],
        [1499235000, 39.852], [1499235600, 40.034], [1499236200, 40.217], [1499236800,
        40.369], [1499237400, 40.522], [1499238000, 40.553], [1499238600, 40.614],
        [1499239200, 40.675], [1499239800, 40.675], [1499240400, 40.675], [1499241000,
        40.614], [1499241600, 40.522], [1499242200, 37.673], [1499242800, 32.189],
        [1499243400, 36.275], [1499244000, 38.086], [1499244600, 38.471], [1499245200,
        38.59], [1499245800, 38.739], [1499246400,[...]
- request:
    method: get
    uri: https://api.smaxtec.com/api/v1/event/query?animal_id=5722099ea80a5f54c631513d&from_date=1497723483&limit=100&to_date=1500315483
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNThjYmY3YjdlYTNiZDExMzE1MDMzODRhIiwiZXhwIjoxNTAwNDA1NDgyfQ.rPAMD0x0K8blN357xoLK0AVoJu6X6kQ4VG0MQicYV3hVi1rHb1XAaalkXD-gNpXIPwg0jx4O-83w0Vj2gldMAw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"next_offset": 100, "previous_offset": 0, "limit":
        100, "offset": 0}, "data": [{"organisation_id": "5721e3f8a80a5f54c6315131",
        "event_type": 105, "level": 10.0, "timestamp": 1499349600, "reference_type":
        "animal", "time_span": "point", "heat": null, "reference_id": "5722099ea80a5f54c631513d",
        "_id": "595e42ed8c25f4676bbec778", "type": 105, "categories": ["fertility"],
        "metadata": {"threshold": 0.5, "sensor_id": "0800000510", "temp_dec_index":
        0.866, "value": 0.866, "calving_ts_diff": 543600.0}}, {"organisation_id":
        "5721e3f8a80a5f54c6315131", "event_type": 703, "level": 10.0, "timestamp":
        1499122800, "reference_type": "animal", "time_span": "point", "heat": null,
        "reference_id": "5722099ea80a5f54c631513d", "_id": "595abfd8095575f93e6c4431",
        "type": 703, "categories": ["health"], "metadata": {"sensor_id": "0800000510",
        "act_decrease_index": 53.557, "value": 53.557}}, {"organisation_id": "5721e3f8a80a5f54c6315131",
        "event_type": 104, "level": 10.0, "timestamp": 1499112000, "reference_type":
        "animal", "time_span": "point", "heat": null, "reference_id": "5722099ea80a5f54c631513d",
        "_id": "595aa3b7d5e0a258197540a4", "type": 104, "categories": ["health"],
        "metadata": {"sensor_id": "0800000510", "temp_inc_index": 0.68, "value": 0.68}},
        {"organisation_id": "5721e3f8a80a5f54c6315131", "event_type": 104, "level":
        10.0, "timestamp": 1499025600, "reference_type": "animal", "time_span": "point",
        "heat": null, "reference_id": "5722099ea80a5f54c631513d", "_id": "5959523855b6620dbbfd9770",
        "type": 104, "categories": ["health"], "metadata": {"sensor_id": "0800000510",
        "temp_inc_index": 0.606, "value": 0.606}}, {"organisation_id": "5721e3f8a80a5f54c6315131",
        "event_t[...]
- request:
    method: get
    uri: https://api.smaxtec.com/api/v1/data/query?device_id=0600000600&from_date=1501445476&metric=temp&to_date=1501488676
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNThjYmY3YjdlYTNiZDExMzE1MDMzODRhIiwiZXhwIjoxNTAxNTc4Njc2fQ.eOcw-2R8yxspvjHgCTcw5wIso7uwme-vtucD1StW3Ryk_i6WCXDO6K6KerNKCjFUpp7Togg80nZTrXmxfgmuwQ
  response:
    status:
      code: 200
      mes[...]
