---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smaxtec.com/api/v1/user/get_token?email=superkuh@hooli.xyz&password=pansen123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNTkwOWE3ZDg2ZGU0MDYxM2Q2ZTczN2NiIiwiZXhwIjoxNDk3MjgxMTEwfQ.fP38y7J9kXF14YVRWTYjrzXJo4bPwYVvReg2OqK8bqmgo-G-JWTEH15Jba3OK1qjvVZ5tJLWalhhfRL1783cSw"}

'
  recorded_at: Sun, 11 Jun 2017 14:25:10 GMT
- request:
    method: get
    uri: https://api-staging.smaxtec.com/api/v1/data/query?aggregation=hourly.mean&animal_id=5722099ea80a5f54c631513d&from_date=1497187510&metric=temp&to_date=1497191110
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNTkwOWE3ZDg2ZGU0MDYxM2Q2ZTczN2NiIiwiZXhwIjoxNDk3MjgxMTEwfQ.fP38y7J9kXF14YVRWTYjrzXJo4bPwYVvReg2OqK8bqmgo-G-JWTEH15Jba3OK1qjvVZ5tJLWalhhfRL1783cSw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metric": "temp.hourly.mean", "_id": "0800000510", "data": [[1497139200,
        39.033667], [1497142800, 39.398833], [1497146400, 39.439167], [1497150000,
        39.374], [1497153600, 39.599833], [1497157200, 39.736], [1497160800, 39.610167],
        [1497164400, 39.655333], [1497168000, 34.739833], [1497171600, 37.509167],
        [1497175200, 38.973667], [1497178800, 39.409], [1497182400, 39.369], [1497186000,
        36.069], [1497189600, 38.804167], [1497193200, 39.428833], [1497196800, 39.519]],
        "unit": "degree_celsius"}

'
  recorded_at: Sun, 11 Jun 2017 14:25:11 GMT
[...]
- request:
    method: get
    uri: https://api-staging.smaxtec.com/api/v1/data/query?aggregation=hourly.mean&animal_id=5722099ea80a5f54c631513d&from_date=1497188012&metric=temp&to_date=1497191612
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNTkwOWE3ZDg2ZGU0MDYxM2Q2ZTczN2NiIiwiZXhwIjoxNDk3MjgxMTEwfQ.fP38y7J9kXF14YVRWTYjrzXJo4bPwYVvReg2OqK8bqmgo-G-JWTEH15Jba3OK1qjvVZ5tJLWalhhfRL1783cSw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metric": "temp.hourly.mean", "_id": "0800000510", "data": [[1497139200,
        39.033667], [1497142800, 39.398833], [1497146400, 39.439167], [1497150000,
        39.374], [1497153600, 39.599833], [1497157200, 39.736], [1497160800, 39.610167],
        [1497164400, 39.655333], [1497168000, 34.739833], [1497171600, 37.509167],
        [1497175200, 38.973667], [1497178800, 39.409], [1497182400, 39.369], [1497186000,
        36.069], [1497189600, 38.804167], [1497193200, 39.428833], [1497196800, 39.519]],
        "unit": "degree_celsius"}

'
  recorded_at: Sun, 11 Jun 2017 14:33:33 GMT
recorded_with: VCR 3.0.3
