---
http_interactions:
- request:
    method: get
    uri: https://api.smaxtec.com/api/v1/user/get_token?email=superkuh@hooli.xyz&password=pansen123

    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNThjYmY3YjdlYTNiZDExMzE1MDMzODRhIiwiZXhwIjoxNTAwNDA1NDgyfQ.rPAMD0x0K8blN357xoLK0AVoJu6X6kQ4VG0MQicYV3hVi1rHb1XAaalkXD-gNpXIPwg0jx4O-83w0Vj2gldMAw"}

'
  recorded_at: Mon, 17 Jul 2017 18:18:02 GMT
- request:
    method: get
    uri: https://api.smaxtec.com/api/v1/data/query?animal_id=5722099ea80a5f54c631513d&from_date=1499234265&metric=temp&to_date=1499277465

    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNThjYmY3YjdlYTNiZDExMzE1MDMzODRhIiwiZXhwIjoxNTAwNDA1NDgyfQ.rPAMD0x0K8blN357xoLK0AVoJu6X6kQ4VG0MQicYV3hVi1rHb1XAaalkXD-gNpXIPwg0jx4O-83w0Vj2gldMAw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metric": "temp", "_id": "0800000510", "data": [[1500272400, 41.509],
        [1500273000, 41.602], [1500273600, 41.571], [1500274200, 41.447], [1500274800,
        41.354], [1500275400, 41.261], [1500276000, 41.261], [1500276600, 41.199],
        [1500277200, 41.137], [1500277800, 41.168], [1500278400, 41.199], [1500279000,
        41.137], [1500279600, 41.106], [1500280200, 40.89], [1500280800, 33.745],
        [1500281400, 36.767], [1500282000, 38.65], [1500282600, 39.218], [1500283200,
        39.489], [1500283800, 39.67], [1500284400, [...]
- request:
    method: get
    uri: https://api-staging.smaxtec.com/api/v1/event/query?animal_id=5722099ea80a5f54c631513d&from_date=1497723483&limit=100&to_date=1500315483
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNThjYmY3YjdlYTNiZDExMzE1MDMzODRhIiwiZXhwIjoxNTAwNDA1NDgyfQ.rPAMD0x0K8blN357xoLK0AVoJu6X6kQ4VG0MQicYV3hVi1rHb1XAaalkXD-gNpXIPwg0jx4O-83w0Vj2gldMAw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"next_offset": 100, "previous_offset": 0, "limit":
        100, "offset": 0}, "data": [{"organisation_id": "5721e3f8a80a5f54c6315131",
        "event_type": 105, "level": 10.0, "timestamp": 1499349600, "reference_type":
        "animal", "time_span": "point", "heat": null, "reference_id": "5722099ea80a5f54c631513d",
        "_id": "595e42ed8c25f4676bbec778", "type": 105, "categories": ["fertility"],
        "metadata": {"threshold": 0.5, "sensor_id": "0800000510", "temp_dec_index":
        0.866, "value": 0.866, "calving_ts_diff": 543600.0}}, {"organisation_id":
        "5721e3f8a80a5f54c6315131", "event_type": 703, "level": 10.0, "timestamp":
        1499122800, "reference_type": "animal", "time_span": "point", "heat": null,
        "reference_id": "5722099ea80a5f54c631513d", "_id": "595abfd8095575f93e6c4431",
        "type": 703, "categories": ["health"], "metadata": {"sensor_id": "0800000510",
        "act_decrease_index": 53.557, "value": 53.557}}, {"organisation_id": "5721e3f8a80a5f54c6315131",
        "event_type": 104, "level": 10.0, "timestamp": 1499112000, "reference_type":
        "animal", "time_span": "point", "heat": null, "reference_id": "5722099ea80a5f54c631513d",
        "_id": "595aa3b7d5e0a258197540a4", "type": 104, "categories": ["health"],
        "metadata": {"sensor_id": "0800000510", "temp_inc_index": 0.68, "value": 0.68}},
        {"organisation_id": "5721e3f8a80a5f54c6315131", "event_type": 104, "level":
        10.0, "timestamp": 1499025600, "reference_type": "animal", "time_span": "point",
        "heat": null, "reference_id": "5722099ea80a5f54c631513d", "_id": "5959523855b6620dbbfd9770",
        "type": 104, "categories": ["health"], "metadata": {"sensor_id": "0800000510",
        "temp_inc_index": 0.606, "value": 0.606}}, {"organisation_id": "5721e3f8a80a5f54c6315131",
        "event_t[...]
