---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smaxtec.com/api/v1/user/get_token?email=superkuh@hooli.xyz&password=pansen123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNTkwOWE3ZDg2ZGU0MDYxM2Q2ZTczN2NiIiwiZXhwIjoxNDk4MzExNjcxfQ.19m1BIrgqsyuMDWeQ9LlEvV3HmvObN5dV_qudKYB8Fm7jXphe6D2eMosjLIj-V_ZiMUYJRiwCKyWyDDJJEPftA"}

'
  recorded_at: Fri, 23 Jun 2017 12:41:11 GMT
- request:
    method: get
    uri: https://api-staging.smaxtec.com/api/v1/data/query?animal_id=5722099ea80a5f54c631513d&from_date=1498218071&metric=temp&to_date=1498221671
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNTkwOWE3ZDg2ZGU0MDYxM2Q2ZTczN2NiIiwiZXhwIjoxNDk4MzExNjcxfQ.19m1BIrgqsyuMDWeQ9LlEvV3HmvObN5dV_qudKYB8Fm7jXphe6D2eMosjLIj-V_ZiMUYJRiwCKyWyDDJJEPftA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"metric": "temp", "_id": "0800000510", "data": [[1498218600, 39.369],
        [1498219200, 39.399], [1498219800, 39.489], [1498220400, 39.61], [1498221000,
        39.761], [1498221600, 39.943]], "unit": "degree_celsius"}

'
  recorded_at: Fri, 23 Jun 2017 12:41:12 GMT
recorded_with: VCR 3.0.3
