%h1 Events
%hr
%strong Events could happen once in a cycle of sensor-life-report. Events can change the directon of your story dramatically. They are set automatically or by hand.
%hr
%h3 Manage Events
%p
=link_to new_event_path, {:class => "btn btn-primary btn-lg"} do
  %span.glyphicon.glyphicon-plus-sign
  Create new event

%hr
%h3 Listing Events
%strong These are all your events:
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Happened at
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= event.happened_at
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


