%h1 Events
%hr
%strong Events could happen once in a cycle of sensor-life-report. Events can change the directon of your story dramatically. They are set automatically or by hand.
%hr
%h3 Manage Events
%p
=link_to new_event_path, {:class => "btn btn-primary btn-lg"} do
  %span.fa.fa-plus-circle
  Create new event

%hr
%h3 Listing Events
%strong These are all of your events. Choose 
%i.fa.fa-trash-o &nbsp to destroy an event or 
%i.fa.fa-pencil-square-o &nbsp to edit it.
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Happened at

  %tbody
    - @events.each do |event|
      %tr
        %td
          =event.name
          =link_to edit_event_path(event) do
            %i.fa.fa-pencil-square-o 
          =link_to event, :method => :delete, :data => { :confirm => 'Are you sure?' } do    
            %i.fa.fa-trash-o
        %td= event.happened_at
%br


