%h1 Editing actuator
%hr
%strong Actuators are devices connected to a port at reporter.box. The reporter.box can switch them on and off. This ist done with chains. Edit your actuator now.
%hr

= render 'form'

= link_to 'Show', @actuator
\|
= link_to 'Back', actuators_path
