%h1 Actuators
%hr
%strong Actuators are devices connected to a port at reporter.box. The reporter.box can switch them on and off. This ist done with chains. These are all your actuators:
%hr
%h3 Manage Actuators
%strong Do you have a new device you would like to connect to the Sensor-Live-Report? Create a new actuator!
%p
=link_to new_actuator_path, {:class => "btn btn-primary btn-lg"} do
  %span.glyphicon.glyphicon-plus-sign
  Create new actuator

%hr
%h3 Listing Actuators
%strong This is a list off all actuators. Choose 
%i.fa.fa-eye 
%strong &nbsp to view an actuator,
%i.fa.fa-pencil-square-o 
%strong &nbsp to edit or
%i.fa.fa-trash-o 
%strong &nbsp to destroy it.
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Port

  %tbody
    - @actuators.each do |actuator|
      %tr
        %td
          =actuator.name
          =link_to actuator_path(actuator) do    
            %i.fa.fa-eye
          =link_to edit_actuator_path(actuator) do
            %i.fa.fa-pencil-square-o
          =link_to actuator, :method => :delete, :data => { :confirm => 'Are you sure?' } do    
            %i.fa.fa-trash-o 
        %td= actuator.port

%br