%h1 New actuator
%hr
%strong Actuators are devices connected to a port at reporter.box. The reporter.box can switch them on and off. This ist done with chains. Define a new actuator. Action!
%hr

= render 'form'

= link_to 'Back', actuators_path
