= button_to "Start calibration", {:action => 'start_calibration'}, {:method => :put, :id => 'start_calibration', :class => "btn btn-primary",}
= button_to "Stop calibration",  {:action => 'stop_calibration'}, {:method => :put, :id => 'stop_calibration',  :class => "btn btn-primary",}

