%h1 Sensors
%table.table.table-striped.table-hover
  %tr
    %th Name
    %th Address
  - @sensors.each do |sensor|
    %tr
      %td= link_to sensor.name, sensor_path(sensor)
      %td= sensor.address
%p
= link_to 'Add new sensor', new_sensor_path, :class => "btn btn-primary"
