%span.resi-thread
  - question_answers.each do |qa|
    = button_tag "(* #{qa.rendered_question(diary_entry)})", :class => "resi-question btn btn-link"
    %span.resi-answer= qa.rendered_answer(diary_entry)
