---
http_interactions:
- request:
    method: post
    uri: https://api.particle.io/v1/devices/1e0033001747343339383037/activate
    body:
      encoding: US-ASCII
      string: access_token=fa56cdf00a6977ae9339e40908d72e09e1f37c29&args=1%2C1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "1e0033001747343339383037",
          "last_app": "",
          "connected": true,
          "return_value": 0
        }
  recorded_at: Sat, 10 Sep 2016 09:25:01 GMT
recorded_with: VCR 3.0.3
