/**
 * BREADCRUMB-NAV
 */

.breadcrumb-nav {
    
}

.breadcrumb-nav__item {
    color: rgba(0, 0, 0, .6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb-nav__item:last-child {
    color: #000;
    font-weight: 600;
}

@media screen and (min-width: 640px) {
    .breadcrumb-nav {
        display: flex;
        flex-wrap: wrap;
    }

    .breadcrumb-nav__item {
        display: inline-block;
        flex-shrink: 0;
    }

    .breadcrumb-nav__item::after {
        content: '/';
        margin: 0 .5rem;
        color: rgba(0, 0, 0, .6);
        opacity: .75;
    
    }

    .breadcrumb-nav__item:last-child {
        flex-shrink: 1;
    }

    .breadcrumb-nav__item:last-child::after, .breadcrumb-nav__item:nth-last-child(2)::after {
        content: none;
    }
}

@media screen and (min-width: 991px) {
    .breadcrumb-nav {
        flex-wrap: nowrap;
    }
    
    .breadcrumb-nav__item:nth-last-child(2)::after {
        content: '/';
    }
}