/**
 * ITEM-TABLE
 */

.item-table a {
    color: $body-color;
}

.item-table__item--highlight td,
.item-table__item--highlight th {
    background-color: rgba(saturate(theme-color('success'), 20), .075);
    border-top: 1px solid saturate(theme-color('success'), 20) !important;
    border-bottom: 1px solid saturate(theme-color('success'), 20) !important;
}

.item-table__title {
    position: relative;
}

.item-table__title__clip {
    position: absolute;
    max-width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-table__channels {
    white-space: nowrap;
    text-align: center;
    font-size: .75rem;
    line-height: 1rem * $line-height-base;
}

.item-table__meta {
    white-space: nowrap;
}

.item-table__actions {
    white-space: nowrap;

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }

        & + & {
            margin-left: .25em;
        }
    }
}