/**
 * MARKUP
 */

.markup {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: .1em 0;
}

.markup--sensor {
    background-color: rgba(theme-color('primary'), .2);
}

.markup--event {
    background-color: rgba(theme-color('success'), .2);
}

.markup--error {
    background-color: rgba(theme-color('success'), .3);
}

.markup__type {
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: rgba(0, 0, 0, .5);
}