/**
 * RANGE
 */

.range {
    width: 100%;
    position: relative;
}

.range__input {
    width: 100%;
}

.range__info {
    position: absolute;
    top: 1.2em;

    font-size: .8em;
    color: $text-muted;
}

.range__info--min {
    left: 0;
}

.range__info--max {
    right: 0;
}

.range__tooltip {
    position: absolute;
    top: -.4em;
    transform: translate(-50%, -100%);
    padding: .125em .5em;

    font-size: .8em;
    background-color: $brand-primary;
    color: #fff;
    border-radius: 3px;

    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.range:hover .range__tooltip, .range:active .range__tooltip {
    opacity: 1;
}

input[type="range"].multirange.ghost {
    --range-color: $brand-primary;
    --track-background: linear-gradient(to right,
            #ddd var(--low), var(--range-color) 0,
            var(--range-color) var(--high), #ddd 0
        ) no-repeat 0 45% / 100% 40%;
}