/**
 * STEP
 */

.step {
    
}

.step__counter {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;

    text-align: center;
    line-height: 2rem;

    font-size: $font-size-base;
    background-color: $brand-primary;
    color: white;
    border-radius: 50%;
}