/**
 * SUB-NAV
 */

.subnav {
    padding: 1rem 0;
    background: lighten(theme-color('primary'), 42);
}

.subnav__message {
    display: none;
    margin-bottom: .5rem;
    font-size: .85rem;
    color: rgba(0, 0, 0, .75);
}

.subnav__breadcrumb {
    margin-right: auto;
    font-size: 1.25rem;
}

.subnav__actions {
    margin-top: .5rem;
}

.subnav__actions .btn-group {
    display: flex;
}

.subnav__actions .btn-group .btn:first-child {
    flex: 1;
}

.subnav__actions .btn-group .btn:last-child {
    margin-left: 1px;
    padding-left: .75rem;
    padding-right: .85rem;
}

@media screen and (min-width: 991px) {
    .subnav__container {
        display: flex;
    }

    .subnav__message {
        display: block;
    }

    .subnav__breadcrumb .breadcrumb-nav {
        line-height: 2.5rem;
    }

    .subnav__actions {
        margin-top: 0;
    }
}