/**
 * TEXT EDITOR
 */

.text-editor {
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
}

.text-editor__toolbar {
  display: flex;
  background: #f4f4f4;
}

.text-editor__toolbar__item {
  position: relative;
  padding: .5rem .75rem;
  border-right: 1px solid $input-border-color;
}

.text-editor__toolbar__item select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.text-editor__toolbar__item--destroy {
  margin-left: auto;

  border-right: none;
}