/**
 * TEXT EDITOR
 */

.text-editor {

}

.text-editor__toolbar {
  position: sticky;
  top: 0;

  padding: 0 15px;

  background-color: #efefef;
}

.text-editor__toolbar__item {
  display: inline-block;
  cursor: pointer;

  /* magic numbers, see above */
  padding: 15px 5px;

  &:hover {
    color: darken(#428bca, 10);
  }
}

.text-editor__toolbar__item .glyphicon {
  font-size: 1.25em;
  /* resetting the icon position */
  line-height: .8; /* 1/1.25 */
  top: .125em; /* (1.25-1)/2 */

}