// Place all the styles related to the TextComponents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#modalTriggerText {
	.modal-header {
		border: none;
		min-height: 1px;
		padding: 10px;
	}
}

.modal-inner {
	.row > div {
		padding-top: 1.5em;
		padding-bottom: 1em;
	}
	label {
		display: block;

		&.checkbox-inline {
			display: inline;
		}
	}
}



.slider-group {
	label {
		margin-bottom: 3em;
	}
}

.slider.slider-horizontal {
	width: 100%;
}

.slider-info {
	width: 100%;
	.slider-info-min {
		float: left;
		text-align: left;
	}
	.slider-info-max {
		float: right;
		text-align: right;
	}
}

#slider-range {

	.slider-track-high {
		background: red;
	}	

	.slider-track-low {
		background: red;
	}

	.slider-selection {
		background: green;
	}

}

#slider-single {

	.slider-track-high {
		background: #ccc;
	}	

	.slider-track-low {
		background: #444;
	}

	.slider-selection {
		background: #999;
	}

}

//hiding unformatted since formatter works
/*
.tooltip {
	display: none;
}
*/


// #slider-single-time {
// 	.tooltip-inner:after {
// 		content: ' min';
// 	}
// }

// #slider-range {
// 	.tooltip-inner:after {
// 		content: ' °C';
// 	}
// }


.triggercolor {
	li { 
		width: 32px;
		height: 32px;
		display: inline-block;
		margin-right: 10px;
		background: #ccc;
		border: 4px solid #fff;
		&.active {
			border-color: #000; 
		}
		span {
			width: 32px;
			height: 32px;
			text-indent: -1000px;
			overflow: hidden;
		}
	} 


}	








