.nested-fields
  .form-group
    = f.input :question, input_html: { class: ['question-input', 'text-editor__field'] }
    = f.input :answer, input_html: { class: ['answer-input', 'text-editor__field'] }
  .form-group
    = link_to_remove_association button_tag("Remove Q/A", type: 'button', class: 'btn btn-danger'), f
