.nested-fields
  .row
    .col
      = f.input :question, input_html: { class: ['question-input', 'text-editor__field'] }
  .row
    .col
      = f.input :answer, input_html: { class: ['answer-input', 'text-editor__field'] }
  .row
    .col
      = link_to_remove_association button_tag("Remove question/answer", type: 'button', class: 'btn btn-danger'), f
