.qa.form-group.nested-fields
  .text-editor{data: {'editor-data': {sensors: @sensors.map{ |s| [s.id, s.name]}.to_h, events: @events.map{ |e| [e.id, e.name] }.to_h }.to_json }}
    .text-editor__toolbar
      
      = render 'shared/text_editor/buttons'

      .text-editor__toolbar__item.text-editor__toolbar__item--destroy
        = link_to_remove_association 'Remove Q/A', f, {class: 'text-danger'}

    .text-editor__fields
      .field.text-editor__field
        .field__label Question
        = f.input :question, label: false, input_html: {class: ['question-input', 'field__input']}
      .field.text-editor__field
        .field__label Answer
        = f.input :answer, label: false, input_html: {class: ['answer-input', 'field__input']}
