%h1 Triggers
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th
      - if user_signed_in?
        %th
        %th
  %tbody
    - @triggers.each do |trigger|
      %tr
        %td= trigger.name
        %td= link_to "Show", trigger
        - if user_signed_in? || Rails.env.test?
          %td= link_to "Edit", edit_trigger_path(trigger)
          %td= link_to "Destroy", trigger, method: :delete, data:  { confirm:  'Are you sure?' }

- if user_signed_in? || Rails.env.test?
  =link_to 'Add new trigger', new_trigger_path, :class => "btn btn-primary"
