.modal{id: "editModal#{text_component.id}", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Edit Text Component
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span ×

      .modal-body
        = render 'form', text_component: text_component
