.nested-fields
  = f.input :question, as: :text, placeholder: 'Question', label: false, input_html: { class: 'question-input' }
  = f.input :answer, as: :text, placeholder: 'Answer', label: false, input_html: { class: 'answer-input' }
  = link_to_remove_association button_tag("Remove question/answer", type: 'button', class: 'btn btn-danger'), f
