%th{rowspan: text_components.size}
  - if triggers.count > 0
    - triggers.each.with_index do |trigger, index|
      - if index + 1 < triggers.size
        = link_to(trigger.name, report_trigger_path(trigger.report, trigger)) + ', '
      - else
        = link_to(trigger.name, report_trigger_path(trigger.report, trigger))
  - else
    Text Components without a Trigger