%table.table.item-table
  %thead.thead-default
    %tr
      %th{width: '40%'} Trigger
      %th
      %th{width: '40%'} Headline
      %th Start
      %th End
      %th
  %tbody
    - @trigger_groups.each do |triggers, text_components|

      - text_components.each.with_index do |text_component, index|
        %tr.item-table__item
          - if index == 0
            = render 'table_triggers', triggers: triggers, text_components: text_components

          = render 'table_text_component', text_component: text_component