%h1 Editing text_component

.container
  .row.form-group
    .col
      = render 'form'
  .row.form-group
    .col
      = link_to 'Show', report_text_component_path(@report, @text_component), :class => "btn btn-secondary"
      = link_to 'Back', report_text_components_path(@report), :class => "btn btn-secondary"
