<h1>Text Components</h1>
 
<table>
  <tr>
    <th>Heading</th>
  </tr>
 
  <% @text_components.each do |text_component| %>
    <tr>
      <td><%= link_to text_component.heading, text_component_path(text_component) %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Add new text component', new_text_component_path  %>
