.pb-4.d-flex
  = form_tag(report_text_components_path(@report), {method: :get}) do
    .input-group
      .input-group-addon Assignee:
      = collection_select(:filter, :assignee_id, User.all, :id, :name, { selected: @filter[:assignee_id], include_blank: 'All' }, { class: 'form-control custom-select', id: 'filter-assignee', onchange: 'this.form.submit()' })

= render 'table'
