%h1 New text_component

.container
  .row.form-group
    .col
      = render 'tabbed_form'
  .row.form-group
    .col
      = link_to 'Back', report_text_components_path(@report), :class => "btn btn-secondary"
