.text-editor__toolbar__item
  Sensors
  %select{'data-editor-markup-select': true}
    %option{disabled: true, selected: true} Please select a sensor
    - @sensors.each do |sensor|
      %option{data: {editor: {'markup-command': 'text', 'markup-text': "{value(#{sensor.id})}"}}}
        = sensor.name
.text-editor__toolbar__item
  Events
  %select{'data-editor-markup-select': true}
    %option{disabled: true, selected: true} Please select an event
    - @events.each do |event|
      %option{data: {editor: {'markup-command': 'text', 'markup-text': "{date(#{event.id})}"}}}
        = event.name