%h1 Sensor Live Report
%p
  Soon you will read about the amazing sensor live report right here. This is the place where raw data turns into comprehensible texts and visuals.
%h3
  Great to have you here!
%p
  At the moment there are no reports to show. But we hope that automated reporting will start soon. Stay tuned!
