.navbar.navbar-expand-md.navbar-dark.bg-dark
  .container

    %a.navbar-brand(href="/") story.board

    %a.navbar-toggler.navbar-toggler{:data => {:toggle => 'collapse', :target => '#main-nav'}}
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#main-nav

      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a{href: 'https://superkuehe.wdr.de', target: '_blank', class: 'nav-link'}
            superkuehe.wdr.de
            %span.fa.fa-external-link
        %li.nav-item
          - if user_signed_in?
            .dropdown
              %a.nav-link.dropdown-toggle#user-menu{:data => {:toggle => 'dropdown'}, :href => "#"}= current_user.name
              %ul.dropdown-menu.dropdown-menu-right
                %li= link_to 'My Text Components', report_text_components_path(@report, filter: {assignee_id: [current_user.id]}), :class => 'dropdown-item'
                %li= link_to 'Log Out', destroy_user_session_path, :method => :delete, :class => 'dropdown-item'
          - else
            %li.nav-item
              = link_to 'Log In', new_user_session_path, :class => 'nav-link'
